
h1, h2, p, img {
    width: 700px;
    margin-left: 360px;
    color: rgba(0, 0, 0, 0.84);
}

h1 {
    font-size: 42px;

    text-align: left;
    line-height: 44px;
}

h1, h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    margin-bottom: 0;
}

h2 {
    margin-top: 55px;
    font-size: 34px;
    line-height: 39px;
}

img {
    margin-top: 43px;
    margin-bottom: 27px;
    margin-left: 362px;
}

p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    margin-left: 362px;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 33px;
    font-size: 21px;
}

span {
    font-family: "Courier New", monospace;
    background-color: #eaeaea;
}

.footer {
    margin-bottom: 95px;
}

.logo {
    margin-top: 10px;
    margin-left: 38px;
    width: 97px;
    height: 64px;
}

.list {
    background-color: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1.5px solid #AAAAAA;
    border-bottom: 1.5px solid #AAAAAA;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-left: 38px;
    
}

li {
    display: inline;
    margin-right: 30px;
    color: #333333; 
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    line-height: 36px;
    font-size: 24px;
}

li a:hover {
    text-decoration: underline;
}

li a.active {
    color: red;
    text-decoration: none;
}

@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}

